click==6.6
coverage==4.2
Django==1.10.3
django-eventtools==0.9.10
django-extensions==1.7.5
django-filter==1.0.0
django-haystack==2.5.1
djangorestframework==3.5.3
gunicorn==19.6.0
Markdown==2.6.7
psycopg2==2.6.2
python-dateutil==2.6.0
python-dotenv==0.6.1
six==1.10.0
Whoosh==2.7.4
