# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# test / coverage reports
.coverage
.coverage.*
test/unit/coverage
test/e2e/reports
selenium-debug.log

# neo4j
db/data
db/logs

# vue
dist/

# flask
.webassets-cache

# pyenv
.python-version

# environment
.env

# mac
.DS_Store

# node
node_modules/
npm-debug.log

# dev database
*.sqlite3

# secret files
secret/



