# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
.coverage
.coverage.*

# Django stuff:
*.log
settings/local.py

# pyenv
.python-version

# dotenv
.env

# Mac OS
.DS_Store

# node
node_modules/

# dev database
*.sqlite3

# secret files
secret/