# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# test / coverage reports
.coverage
.coverage.*
test/unit/coverage
test/e2e/reports
selenium-debug.log

# neo4j
neo4j/data
neo4j/logs

# node/vue
.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/e2e/reports
selenium-debug.log

# flask
.webassets-cache

# pyenv
.python-version

# environment
.env

# mac
.DS_Store

# dev database
*.sqlite3

# secret files
secret/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# temporary files
tmp/
