appnope~=0.1
click~=6.7
decorator~=4.0
docker~=2.2
docker-pycreds~=0.2
Flask~=0.12
gunicorn~=19.7
ipython~=6.0
ipython-genutils~=0.2
itsdangerous~=0.24
jedi~=0.10
Jinja2~=2.9
MarkupSafe~=1.0
pexpect~=4.2
pickleshare~=0.7
prompt-toolkit~=1.0
ptyprocess~=0.5
py2neo~=3.1
Pygments~=2.2
requests~=2.14
simplegeneric~=0.8
six~=1.10
traitlets~=4.3
wcwidth~=0.1
websocket-client~=0.40
Werkzeug~=0.12
