{% extends 'visualist/base.html' %}

{% block js %}
    {{ block.super }}
    <script src="/static/visualist/events.js"></script>
{% endblock js %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/visualist/events.css">
{% endblock styles %}

{% block main %}
    <main>
        <h1>Events</h1>

        <event_controls id="event_controls"></event_controls>
        <event_cards id="event_list"></event_cards>
        <event_map id="event_map"></event_map>

    </main>
{% endblock main %}