<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Visualist</title>

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
{% block header %}
    {% include '_header.html' %}
{% endblock header %}

{% block main %}
    <main>
        <p>Base template Main.</p>
    </main>
{% endblock main %}

{% block ankle %}
    {% include '_ankle.html' %}
{% endblock ankle %}

{% block footer %}
    {% include '_footer.html' %}
{% endblock footer %}
</body>
</html>