<header id="site_header"><div class="container">
    <div id="masthead">
        <div id="branding">
            <a href="{% url 'home' %}">Visualist</a>
        </div>
    </div>
    <div id="primary_nav">
        <a href="{% url 'home' %}" tabindex="0"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
        <form id="search" action="{% url 'search' %}">
            <input type="search" placeholder="Search" name="q" >
            <button type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
        <div id="browse">
            <button type="button" class="browse_modal_toggle">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div id="browse_modal" class="hide">
        <ul>
            <li><a href="{% url 'events' %}">Events</a></li>
            <li>Venues</li>
            <li>People</li>
            <li>Artworks</li>
        </ul>
        <ul>
            <li>Cities</li><!-- hierarchy -->
            <li>Neighborhoods/Communities</li>
        </ul>
        <ul>
            <li>User</li>
            <li>About Us</li>
        </ul>
    </div>
</div></header>
