<header id="site_header">
    <div id="masthead">
        <div id="branding">
            <a href="{% url 'home' %}">Visualist</a>
        </div>
    </div>
    <div id="primary_nav">
        <form id="search">
            <input type="search" placeholder="Search" name="q" >
            <button type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
        <div id="browse">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </div>
    </div>
</header>

