@import "../_brand.scss";

header#site_header {
    position: relative;
    background-color: $secondary_bg;
    color: $secondary_text;
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        color: $secondary_anchor;
    }

    #masthead {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;

        #branding {
            font-size: 2rem;
            font-weight: bold;
            flex: auto;

            a {
                color: white;
            }
        }
    
        #menu {
            color: #777;
        }
    }

    #primary_nav {
        background-color: #333;
        width: 100%;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        color: #999;
        padding: 1rem;

        > * {
            margin-right: 1rem;

        }

        > :last-child {
            margin-right: 0;
        }

        > a {
            color: #999
        }

        button {
            color: #999;
            border: none;
        }

        #search {
            display: flex;
            flex: auto;

            input {
                flex: auto;
                padding: .25rem .5rem;
                border: 0;
                background-color: #ddd;
            }
            button {   
                padding: .25rem .5rem;
                background-color: hsla(0,0%,0%,0.5);
            }
        }
        #browse {
            button {   
                padding: 0;
                background-color: transparent;
            }
        }
    } 
    #browse_modal {
        box-sizing: border-box;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        background-color: $secondary_bg;
        padding: 1rem;
        box-shadow: 0 3px 3px hsla(0,0%,0%,0.5);
    }
}