//
// Colors
//

    // used for main content
    $primary_bg: #ddd;
    $primary_text: #222;
    $primary_anchor: #33c;

    $card_bg: #eee;

    // used for header and footer
    $secondary_bg: #222;
    $secondary_text: #eee;
    $secondary_anchor: #a60;

