<header id="site_header">
    <div id="masthead">
        <div id="branding">
            <a href="{% url 'home' %}">Visualist</a>
        </div>
        <div id="user">
            <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
        </div>
    </div>
    <div id="primary_nav">
        <div id="browse">
            <a href="{% url 'home' %}"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
            <span id="breadcrumb">▸ Events</span>
        </div>
        <form id="search">
            <input type="search" placeholder="Search" name="q" >
            <button type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>

            <!--<label>
                <span class="screen-reader-text">Search for:</span>
                <input type="search" class="search-field" placeholder="Search up in dis" value="" name="s" title="Search for:" />
            </label>
            <input type="submit" class="search-submit" value="Search" />-->

            <!--<label>
                <input type="search" class="search-field" placeholder="Search" value="" name="s" title="Search for:" />
                <input type="submit" class="search-submit" value="Search" />
            </label>-->
        </form>
        <div id="links">
            <a><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a>
        </div>
    </div>
</header>

