header#site_header {
    background-color: #222;
    color: #eee;
    padding: 1rem;

    #branding {
        font-size: 2rem;
        font-weight: bold;
    }

    a {
        color: goldenrod;
    }
}