@import "./_brand.scss";
@import "./_grid.scss";
@import "./_utility.scss";

body {
    background-color: $primary_bg;
    color: $primary_text;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
    > main {
        font-size: 16;
        flex: 1;
    }
    
    a {
        color: #33c;
    }


}