// media breakpoints
$breakpoint_a: 450px;
$breakpoint_b: 750px;
$breakpoint_c: 875px;


body {
    // background-color: #334;
    color: #222;
}

main {
    border: 1px solid #ccc;
    background-color: #eee;
}