{% extends 'visualist/base.html' %}

{% block js %}
    {{ block.super }}
    <script src="/static/visualist/event.js"></script>
{% endblock js %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/visualist/event.css">
{% endblock styles %}

{% block main %}
    
<main>
    <h1>[{ obj.title }]</h1>

    <h2>[{ obj.date_start }]</h2>
    <h2>Chicago Artist Coalition</h2>
    <p>1234 Anywhere St.</p>
    <p>Chicago, IL 60600</p>

    <img class="primary_visual" />
    <p>This is a caption for the above visual.</p>

    <h3>Description</h3>
    <p>[{ obj.description }]</p>
    
    <secondary_visuals></secondary_visuals>
    
    {% comment %}
    <p>Other titles</p>

    <p>Other Descriptions</p>

    <p>Distance to this event from your current location: 123 miles</p>

    

    <p>Record created by admin on January 1, 2017</p>
    <source></source>

    <refs></refs>

    <related_items title="Related Items"></related_items>
    <related_items title="Similar Items"></related_items>

    <controls></controls>
    {% endcomment %}
</main>

{% endblock main %}