main {
    background-color: #eee;
    padding: 1rem;
    
    .primary_visual {
        width: 300px;
        height: 300px;
        background-color: #ddd;
    }
    .secondary_visual {
        width: 100px;
        height: 100px;
        background-color: #ddd;
    }
}