//
// Colors
//

// used for main content
$primary_bg: #ddd;
$primary_text: #222;
$primary_anchor: #33c;

// used for header and footer
$secondary_bg: #222;
$secondary_text: #eee;
$secondary_anchor: #a60;

// layout elements
$card_bg: #eee;

// buttons
$button_bg: #eee;
$button_bg_hover: #fff;
$button_bg_active: #ccc;

$button_text: $primary_anchor;
$button_text_disabled: #999 !important;