{% extends 'visualist/base.html' %}

{% block js %}
    {{ block.super }}
    <script src="/static/visualist/event_list.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script>
        var mymap = L.map('mapid').setView([41.8781, -87.6298], 13);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/cit4vck8m001v2wrpq6lhhcfk/tiles/256/{z}/{x}/{y}?access_token={accessToken}', {
            id: 'aljabear',
            accessToken: 'pk.eyJ1IjoiYWxqYWJlYXIiLCJhIjoiY2l0NHJtM3plMDAwMjJ6bzM4Y3M2Z201biJ9.HvF_jJ4TnzYXle8uL5XhtQ'
        }).addTo(mymap);
    </script>
{% endblock js %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/visualist/event.css">
{% endblock styles %}

{% block main %}
    <main>
        <h1>Events</h1>

        <events></events>
    </main>
{% endblock main %}