.visually_hidden {
  /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

body:hover .visually_hidden a,
body:hover .visually_hidden input,
body:hover .visually_hidden button {
  display: none !important; }

body {
  background-color: #ddd;
  color: #222;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-direction: column;
      flex-direction: column; }
  body > main {
    font-size: 16;
    -ms-flex: 1;
        flex: 1;
    background-color: #ddd;
    padding: 1rem; }
  body a {
    color: #33c; }
  body .panel, body .card {
    border: 1px solid goldenrod; }
  body .panel {
    margin: 0;
    padding: 0; }
  body .card {
    background-color: #eee;
    margin: 0 0 1rem 0;
    padding: 1rem; }
  body ul.card_list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
header#site_header {
  position: relative;
  background-color: #222;
  color: #eee;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  header#site_header a {
    text-decoration: none;
    color: #a60; }
  header#site_header #masthead {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center; }
    header#site_header #masthead #branding {
      font-size: 2rem;
      font-weight: bold;
      -ms-flex: auto;
          flex: auto; }
      header#site_header #masthead #branding a {
        color: white; }
    header#site_header #masthead #menu {
      color: #777; }
  header#site_header #primary_nav {
    background-color: #333;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    box-sizing: border-box;
    color: #999;
    padding: 1rem; }
    header#site_header #primary_nav > * {
      margin-right: 1rem; }
    header#site_header #primary_nav > :last-child {
      margin-right: 0; }
    header#site_header #primary_nav > a {
      color: #999; }
    header#site_header #primary_nav button {
      color: #999;
      border: none; }
    header#site_header #primary_nav #search {
      display: -ms-flexbox;
      display: flex;
      -ms-flex: auto;
          flex: auto; }
      header#site_header #primary_nav #search input {
        -ms-flex: auto;
            flex: auto;
        padding: .25rem .5rem;
        border: 0;
        background-color: #ddd; }
      header#site_header #primary_nav #search button {
        padding: .25rem .5rem;
        background-color: rgba(0, 0, 0, 0.5); }
    header#site_header #primary_nav #browse button {
      padding: 0;
      background-color: transparent; }
  header#site_header #browse_modal {
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: #222;
    padding: 1rem;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5); }
footer#site_footer {
  background-color: #222;
  color: #777;
  padding: 1rem; }
  footer#site_footer a {
    color: #a60;
    text-decoration: none; }

/*# sourceMappingURL=bundle.css.map*/